# Environment
.env.local
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
build/
dist/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# OS
.DS_Store
*.log
Thumbs.db

# IDE/Tools
.fleet/
.netlify/
.vscode/
.idea/
*.swp
*.swo
